.initial-price {
    &-wrapper {

    }

    &__autofetched, &__not-autofetched {
        border-radius: 6px;
        padding: 4px 8px;
    }

    &__autofetched {
        background-color: var(--primary);
        color: white;
    }

    &__not-autofetched {
        background-color: var(--warning-bg);
        color: var(--warning-text);
    }
}


@media screen and (max-width: 500px){
    .initial-price {

       &-wrapper {
           .preset-ranges-wrapper {
               margin-bottom: 0!important;
           }
       }
    }
}