.footer {
    &-wrapper {
        background-color: var(--panel1);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px 1rem;
        border-top: 1px solid var(--border1);
        z-index: 3;
    }
}
